$red-light: #FF5252;
$blue-light: #5bc0de;
$blue-dark: #01579B;
$green-light: #66BB6A;

.navbar {
	background: rgba(0,0,0,0.8);
	.active > a {
		background-color: $blue-light !important;
	}
	//removed for now, will display in old mobile site, display used in media
	//below
	.dropdown {
		display: none;
	}
}
#footer {
	background: rgba(0,0,0,0.9);
	button {
		background-color: $blue-light !important;
	}
}

#bg1 {
    /*margin-top: -20px;*/
	background-image: url("../images/astronaut1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #333;

  .jumbotron {
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.2);
    box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.7);
    color: white;
		padding-top: 64px;
  }

  .personal {
		position: relative;
		width: 100%;
    .external-links {
			display: block;
			margin-top: 20px;
      .btn {
			  background-color: $red-light;
        display: block;
        width: 100%;
        margin: 5px 0;
        font-size: 12px;
      }
			.github { background-color: $green-light; }
			.facebook { background-color: $blue-dark; }
    }
		.profile {
			border-radius: 100%;
			margin: 0 auto;
			margin-top: 21px;
			max-height: 250px;
		}
  }
}

#bg2 {
	.img-wrap {
		position: relative;
		.img-responsive {
			margin: 0 auto;
		}
	}
}

.holder {
	position: relative;
	.dummy-link {
		position: absolute;
		top: -45px;
	}
}

#contactModal {
    color: black;
}

.btn-contact {
	background-color: $blue-light !important;
}

.contact-mobile-form {
	display: none;
}

//Separation of Desktop/Tablet and Phone displays for now
@media (max-width: 480px) {
	.personal {
		display: none;
	}
	.contact-mobile-form {
		display: block;
	}
	.navbar {
		background-color: #008cba;
		.dropdown {
			display: block;
		}
	}
	#footer {
		background-color: #008cba;
	}
}
@media (min-width: 480px) {
}
@media (max-width: 991px) {
	.profile {
		display: none;
	}
}
