body {
	background-image: url(../images/carousel.jpg);
	background-attachment: fixed;
	background-size: cover;
}

body .navbar {
	background: rgba(0,0,0,0.8);
	// Theme specificity override
	.container {
		a {
			transition: all ease-in-out 100ms;
		}
		@media (min-width: 768px) {
			a:hover, a:active, a:focus {
		    background-color: #fff;
				color: black;
			}
		}
		//removed for now, will display in old mobile site, display used in media
		//below
		.dropdown {
			display: none;
		}
		.navbar-right {
			margin-right: 0;
		}
		@media (min-width: 768px) {
			.navbar-brand {
				margin-left: -10px;
			}
		}
	}
}

body #footer {
	background: rgba(0,0,0,0.9);
}

#bg1 {
  .jumbotron {
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.2);
    box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.7);
    color: white;
		padding-top: 64px;
  }

  .personal {
		position: relative;
		width: 100%;
    .external-links {
			display: block;
			margin-top: 20px;
      .btn {
        display: block;
        width: 100%;
        margin: 5px 0;
        font-size: 12px;
				letter-spacing: 1px;
				transition: all ease-in-out 100ms;
				background: rgba(0,0,0,0.1);
				border-color: #fff;
        &:hover {
					transform: translate(-3px, 0);
					box-shadow: 0px 0px 10px 1px;
        }
      }
			//.github { background-color: $green-light; }
			//.facebook { background-color: $blue-dark; }
    }
		.profile {
			border-radius: 100%;
			margin: 0 auto;
			margin-top: 21px;
			max-height: 250px;
		}
  }
}

#bg2 {
	background: #fff;
	padding: 50px 0 80px;
	a h5, h3, h4 {
		font-weight: bold;
	}
	h4 {
		font-style: italic;
	}
	.img-wrap {
		.img-responsive {
			margin: 0 auto;
		}
	}
	.img-box {
		width: 100%;
		height: 250px;
		margin: 0 auto;
		box-shadow: inset 1px 1px 40px 0 rgba(0,0,0,.45);
		overflow: hidden;
		.overlay {
			background:rgba(0,0,0,.75);
	    text-align: center;
	    padding: 100px 0;
	    opacity: 0;
	    -webkit-transition: opacity .25s ease;
			-moz-transition: opacity .25s ease;
			&:hover {
				opacity: 1;
			}
			a {
				transition: all ease-in-out 100ms;
				color: $red-light;
				&:first-of-type {
          color: $blue-light;
          &:hover {
            color: $blue-light * 2;
          }
        }
        &:hover {
          color: $red-light * 2;
        }

				&:hover {
					text-decoration: none;
				}
			}
			i { font-size: 60px; }
		}
		&.vocalize { background: url(../images/vocalize.png); background-size: cover; }
		&.dictaphone { background: url(../images/dictaphone.png); background-size: cover; }
    &.loc8r { background: url(../images/loc8r.png); background-size: cover; }
    &.weatherapp { background: url(../images/weatherapp.png); background-size: cover; }
    &.jscalc { background: url(../images/jscalc.png); background-size: cover; }
    &.sorttimer { background: url(../images/sorttimer.png); background-size: cover; }
    &.quotemachine { background: url(../images/quotemachine1.png); background-size: cover; }
    &.starsnearearth { background: url(../images/starsnearearth.png); background-size: cover; }
		&.django_ig { background: url(../images/ig1.png); background-size: cover; background-position: center center; }
		&.todo { background: url(../images/todo.png); background-size: cover; background-position: center center; }
	}
}

.holder {
	position: relative;
	.dummy-link {
		position: absolute;
		top: -45px;
	}
}

#contactModal {
  color: black;
}

.contact-mobile-form {
	display: none;
}

//Separation of Desktop/Tablet and Phone displays for now
@media (max-width: 768px) {
	.personal {
		display: none;
	}
	.contact-mobile-form {
		display: block;
		float: right;
	}
	.navbar {
		background-color: #008cba;
		.dropdown {
			display: block;
		}
		.navbar-nav {
			margin-top: 0;
			margin-bottom: 10px;
			li.active a {
				background-color: inherit;
			}
		}
		.navbar-collapse {
				border-top: 1px solid white;
		}
	}
	#footer {
		.navbar-text {
			display: none;
		}
	}
}

@media (max-width: 991px) {
	#bg1 {
		background-position: center center;
		.jumbotron p {
			font-size: 19px;
		}
	}
	.profile {
		display: none;
	}
}

.modal-backdrop {
	background-color: white;
}

.contact-form {
	background: rgba(204, 204, 204, 0.2);
	box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.7);
	padding: 15px;
	padding-bottom: 70px;
	margin: 80px auto 0;
	color: #fff;
	input, textarea {
		margin-bottom: 15px;
		background: rgba(0,0,0,0);
		color: #fff;
		&.form-control:focus {
			border-color: #fff;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(256, 256, 256, 1);
		}
	}
	.btn {
		width: 100%;
		border: 1px solid #fff;
		background: rgba(0,0,0,0);
		&:hover, &:focus {
			background: rgba(100,100,100,0.9);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(256, 256, 256, 1);
			outline: none;
		}
	}
	.subtext {
		text-align: center;
		margin-top: 15px;
		font-size: 12px;
		span {
			font-size: 20px;
			margin-left: 10px;
		}
	}
	@media (min-width: 768px) {
		padding-left: 60px;
		padding-right: 60px;
	}
}
